<body>
<div class="container">
  <div class="card m-3">
      <h5 class="rounded card-header text-white bg-primary">Add an Event</h5>
      <div class="card-body bg-light">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                  <div class="form-group col-3">
                      <label>First Name</label>
                      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  <div class="form-group col-3">
                      <label>Last Name</label>
                      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                      </div>
                  </div>
                  <div class="form-group col-6">
                      <label>Email</label>
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-4">
                  <label>Start Time</label>
                  <input type="datetime-local" formControlName="start" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.start.errors }" />
                  <div *ngIf="submitted && f.start.errors" class="invalid-feedback">
                      <div *ngIf="f.start.errors.required">A start time for your event is required</div>
                  </div>
                </div>
                <div class="form-group col-4">
                  <label>End Time</label>
                  <input type="datetime-local" formControlName="end" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.end.errors }" />
                  <div *ngIf="submitted && f.end.errors" class="invalid-feedback">
                      <div *ngIf="f.end.errors.required">An end time for your event is required</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <label>Event Title</label>
                  <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                      <div *ngIf="f.title.errors.required">A title for your event is required</div>
                  </div>
                </div>
                <div class="form-group col-6">
                  <label>Location</label>
                  <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                  <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                      <div *ngIf="f.location.errors.required">A location for your event is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label>Description</label>
                  <textarea formControlName="description" name="message" rows="5" cols="30" class="form-control" placeholder="Enter a description for the event"></textarea>
              </div>
              <div class="text-center">
                  <button class="btn btn-primary mr-1"> Submit Event</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Clear</button>
              </div>
          </form>
      </div>
  </div>
</div>
</body>
<div class="container">
  <router-outlet></router-outlet>
</div>