<!-- header -->
<header class="header ">
  <div class="overlay rounded">
   <div class="container">
      <div class="description">
        <h1 id="title">
          Event Beacon
          <p id="descriptionText">
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button class="btn btn-outline-secondary btn-lg">See more</button>
        </h1>
    </div>
   </div>
  </div>
</header>
<!-- main -->
<main role="main" class="flex-shrink-0">
  <!-- vertical spacer-->
<div class="col-xs-12" style="height:50px;"></div>
<!-- text items grid -->
<div class="container">
  <div class="row form-group">
    <div class="col-sm">
      <h2>Heading</h2>
      <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <button class="btn btn-outline-secondary btn-lg">See more</button>
    </div>
    <div class="col-sm">
      <h2>Heading</h2>
      <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <button class="btn btn-outline-secondary btn-lg">See more</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm">
      <h2>Heading</h2>
      <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <button class="btn btn-outline-secondary btn-lg">See more</button>
    </div>
    <div class="col-sm">
      <h2>Heading</h2>
      <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <button class="btn btn-outline-secondary btn-lg">See more</button>
    </div>
  </div>
</div>

  <!-- vertical spacer-->
  <div class="col-xs-12" style="height:50px;"></div>
<div class="blog" id="blog">
    <div class="container">
    <h1 class="text-center">Blog</h1>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-img">
              <img src="./assets/icons/drives-icon.png" class="img-fluid" style="width: auto; height: 80px;">
            </div>
            
            <div class="card-body">
            <h4 class="card-title">Post Title</h4>
              <p class="card-text">
                
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer">
              <a href="" class="card-link">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-img">
              <img src="./assets/icons/drives-icon.png" class="img-fluid" style="width: auto; height: 80px;">
            </div>
            
            <div class="card-body">
               <h4 class="card-title">Post Title</h4>
              <p class="card-text">
                
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer">
              <a href="" class="card-link">Read more</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <div class="card-img">
              <img src="./assets/icons/drives-icon.png" class="img-fluid" style="width: auto; height: 80px;">
            </div>
            
            <div class="card-body">
            <h4 class="card-title">Post Title</h4>
              <p class="card-text">
                
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer">
              <a href="" class="card-link">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- vertical spacer-->
  <div class="col-xs-12" style="height:50px;"></div>
</main>
<!-- footer -->
<footer class="footer mt-auto py-3 text-center text-light bg-dark">
  <div class="container" >
    <span>Copyright 2019.  All rights reserved.</span>
  </div>
</footer>
