<!-- header -->
<header class="header">
  <div class="overlay rounded">
   <div class="container">
      <div class="description">
        <h1 id="title">
          Event Beacon
        </h1>
          <p id="descriptionText">
          All of Your Events, in One Place 
          </p>
          <button routerLink="/event/create" class="btn btn-primary main-btn">Create an Event</button>
    </div>
   </div>
  </div>
</header>
<!-- main -->
<main role="main" class="flex-shrink-0">
  <!-- vertical spacer-->
<div class="col-xs-12" style="height:50px;"></div>
<!-- text items grid -->
<div class="container">
  <div class="row form-group">
    <div class="col-sm card bg-light point-cards">
      <h2 class="points">Simple</h2>
      <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <button class="btn btn-outline-secondary btn-lg point-cards">See more</button>
    </div>
    <div class="col-sm card">
      <h2 class="points">Casual</h2>
      <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      <button class="btn btn-outline-secondary btn-lg">See more</button>
    </div>
  </div>
</div>
<div class="blog" id="blog">
    <div class="container">
    <h1 class="text-center" id="examples">Examples</h1>
      <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
              <img class="card-img-top" src="https://t4.ftcdn.net/jpg/01/99/12/01/240_F_199120120_uO56bW8dB30PdrYCf8SsgOdMOl6XfGpP.jpg" class="img-fluid" style="width: auto; height: 250px;">
            
            <div class="card-body">
            <h4 class="card-title">Car Pooling</h4>
              <p class="card-text">
                Whether you regularly commute a particular route everyday or don't mind some company on a trip, a simple event can be created to find others who may want to ride along.
              </p>
            </div>
            <div class="card-footer">
              <a routerLink="/event/create">Create an Event</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="https://media.istockphoto.com/photos/man-at-the-shopping-picture-id868718238?k=6&m=868718238&s=612x612&w=0&h=ZUPCx8Us3fGhnSOlecWIZ68y3H4rCiTnANtnjHk0bvo=" class="img-fluid" style="width: auto; height: 250px;">
            
            <div class="card-body">
               <h4 class="card-title">Going Out</h4>
              <p class="card-text">
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer">
              <a routerLink="/event/create">Create an Event</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card">
            <img class="card-img-top" src="https://us.123rf.com/450wm/viteethumb/viteethumb1412/viteethumb141200002/34391038-two-cup-of-coffees-with-coffee-shop-interior.jpg?ver=6" class="img-fluid" style="width: auto; height: 250px;">
          
            <div class="card-body">
            <h4 class="card-title">Coffee Break</h4>
              <p class="card-text">
                
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
            <div class="card-footer">
              <a routerLink="/event/create">Create an Event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- vertical spacer-->
  <div class="col-xs-12" style="height:50px;"></div>
</main>

<!-- footer -->
<footer class="footer mt-auto py-3 text-center text-light bg-dark">
  <div class="container" >
    <span>Copyright 2019.  All rights reserved.</span>
  </div>
</footer>